<%- include("header") -%>
<%- include("navbar") -%>
<section id="pricing">
  <%- include("carousel") -%>
</section>

<section id="stages">
  <%- include("stages") -%>
</section>
<%- include("footer") -%>
