<h2 class="Open">במות פתוחות</h2>
<hr>


<div class="row">

  <% StageList.forEach(function(stage){ %>

        <div class="col-lg-4 card1 shadow-lg rounded-5 text-white overflow-hidden stage-day card-cover <%= stage.Day %>" style="width: 18rem;">
          <img src="<%= stage.Img %>" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="/stages/<%= stage.Name %>"> <h3 calss="card-text cardName"> <%= stage.Name %> </h3> </a>
            <a href="/stages/<%= stage.Name %>"> <p class="card-text"> <%= stage.Location %> </p> </a>
            <a href="/stages/<%= stage.Name %>"> <p class="card-text"> <%= stage.Day %> </p> </a>
          </div>
        </div>

  <% }); %>

</div>




<script src="scripts/index.js" charset="utf-8"></script>
